.pad-item-wrapper{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    text-overflow: clip;
    overflow: hidden;
    width: 50%;
    
}

.pad-text{
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}