html {
    /* background: url(/css/img/grid.svg) no-repeat center center fixed; */
    display: table;
    margin: auto;
}

body {
    background-color: #81c9b8;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    font-family: din-2014, sans-serif;
}

#body-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(26, 48px);
    grid-template-rows: repeat(20, 48px);
    background-image: url("https://s3.amazonaws.com/spicedling/ti_XjRYzwmxq9xdeHIW0OlzXrG2mkAQX.svg");
    background-repeat: repeat;
    background-size: 48px 48px;
    width: 100.2%;
}

header {
    grid-column-start: 1;
    grid-column-end: 19;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: #81c9b8;
}

.logo-container {
    grid-column-start: 1;
    grid-column-end: 19;
    grid-row-start: 1;
    grid-row-end: 4;
    border: 2px solid black;
    padding: 5px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-family: din-2014, sans-serif;
    letter-spacing: 1em;
    line-height: 3.3rem;
    font-weight: 400;
    font-size: 3rem;
    margin-left: 45px;
}

.box {
    grid-column-start: 16;
    grid-column-end: 22;
    grid-row-start: 7;
    grid-row-end: 16;
    background-color: #81c9b8;
}

.box02 {
    grid-column-start: 20;
    grid-column-end: 26;
    grid-row-start: 9;
    grid-row-end: 18;
    background-color: #81c9b8;
    width: 100.6%;
    /* height: 93%; */
}

.video-wrapper {
    width: 626px;
    height: 338px;
    position: relative;
    overflow: hidden;
    grid-column-start: 2;
    grid-column-end: 37;
    grid-row-start: 5;
    grid-row-end: 15;
    z-index: 1;
}

.video {
    height: 104%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.music-playera {
    border: 0;
    height: 433px;
    width: 290px;
    grid-column-start: 16;
    grid-column-end: 26;
    grid-row-start: 7;
    z-index: -5;
}

.music-player-3 {
    border: 0;
    height: 433px;
    width: 290px;
    grid-column-start: 16;
    grid-column-end: 26;
    grid-row-start: 7;
    z-index: -20;
}

.music-player-2 {
    border: 0;
    height: 433px;
    width: 290px;
    grid-column-start: 16;
    grid-column-end: 26;
    grid-row-start: 7;
    z-index: -20;
    /* opacity: 0.5; */
}

.music-player-1 {
    border: 0;
    height: 433px;
    width: 290px;
    grid-column-start: 16;
    grid-column-end: 26;
    grid-row-start: 7;
    z-index: -20;
    /* opacity: 0.5; */
}

.music-player0 {
    border: 0;
    height: 433px;
    width: 290px;
    grid-column-start: 16;
    grid-column-end: 26;
    grid-row-start: 7;
    z-index: -20;
    /* opacity: 0.5; */
}

.music-player1 {
    border: 0;
    height: 433px;
    width: 290px;
    grid-column-start: 16;
    grid-column-end: 26;
    grid-row-start: 7;
    z-index: 3;
    opacity: 0.6;
}

.music-player2l {
    border: 0;
    height: 433px;
    width: 290px;
    grid-column-start: 18;
    grid-column-end: 26;
    grid-row-start: 8;
    z-index: 9;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.music-player2r {
    border: 0;
    height: 433px;
    width: 290px;
    grid-column-start: 18;
    grid-column-end: 26;
    grid-row-start: 8;
    z-index: 9;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.music-player3 {
    border: 0;
    height: 433px;
    width: 290px;
    grid-column-start: 20;
    grid-column-end: 26;
    grid-row-start: 9;
    z-index: 3;
    opacity: 0.6;
}

.music-player4 {
    border: 0;
    height: 433px;
    width: 290px;
    grid-column-start: 16;
    grid-column-end: 26;
    grid-row-start: 7;
    z-index: -5;
}

.music-player5 {
    border: 0;
    height: 433px;
    width: 290px;
    grid-column-start: 16;
    grid-column-end: 26;
    grid-row-start: 7;
    z-index: -5;
}

.music-player6 {
    border: 0;
    height: 433px;
    width: 290px;
    grid-column-start: 16;
    grid-column-end: 26;
    grid-row-start: 7;
    z-index: -5;
}

.music-player7 {
    border: 0;
    height: 433px;
    width: 290px;
    grid-column-start: 16;
    grid-column-end: 26;
    grid-row-start: 7;
    z-index: -5;
}

.mpc-wrapper {
    grid-column-start: 2;
    grid-column-end: 18;
    grid-row-start: 4;
    grid-row-end: 27;
    z-index: 101;
}

.x {
    grid-column-start: 26;
    grid-column-end: 26;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: yellow;
}

.albums-left {
    grid-column-start: 16;
    grid-column-end: 22;
    grid-row-start: 7;
    grid-row-end: 16;
    background-color: transparent;
    z-index: 6;
}

.albums-right {
    grid-column-start: 20;
    grid-column-end: 26;
    grid-row-start: 9;
    grid-row-end: 18;
    background-color: transparent;
    z-index: 6;
}

.tour-dates {
    grid-column-start: 20;
    grid-column-end: 26;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #81c9b8;
    height: 98%;
    margin-top: 2px;
    margin-left: 2px;
}

.tour-dates h2 {
    margin-top: 6px;
    font-family: din-2014, sans-serif;
    font-size: 2rem;
    letter-spacing: 0.5em;
    font-weight: 400;
    margin-left: 21px;
    margin-bottom: -4px
}

.tour-dates p {
    font-size: 1rem;
    letter-spacing: 0.3em;
    font-weight: 400;
    margin-left: 21px;
}

.tour-dates2 {
    grid-column-start: 20;
    grid-column-end: 23;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #81c9b8;
    height: 95%;
    margin-top: 2px;
    margin-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tour-dates3 {
    grid-column-start: 23;
    grid-column-end: 26;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #81c9b8;
    height: 95%;
    margin-top: 2px;
    margin-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tour-dates2 h2 {
    font-weight: 500;
}

.squarenew {
    background-color: red;
}

.tour-dates3 h2 {
    font-weight: 500;
}

.sampler-container {
    grid-column-start: 2;
    grid-column-end: 26;
    grid-row-start: 5;
    grid-row-end: 18;
    z-index: 250;
}

.sampler-modal {
    background-color: #f2be6a;
    display: grid;
    grid-template-columns: repeat(22, 48px);
    grid-template-rows: repeat(10, 48px);
    /* background-image: url("https://s3.amazonaws.com/spicedling/ti_XjRYzwmxq9xdeHIW0OlzXrG2mkAQX.svg");
    background-repeat: repeat;
    background-size: 48px 48px; */
    padding: 38px;
}

.sampler-modal h1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    font-family: din-2014, sans-serif;
    letter-spacing: 0.1em;
    font-weight: 400;
    font-size: 3rem;
    margin-top: -20px;
}

.pad-container {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(8, 48px);
    grid-template-rows: repeat(10, 48px);
}

.pad1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.pad2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.pad3 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

.pad4 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}

.pad5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.pad6 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}

.pad7 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
}

.pad8 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;
}

.pad9 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
}

.pad10 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;
}

.pad11 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 7;
}

.pad12 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 7;
}

.pad13 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 9;
}

.pad14 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 9;
}

.pad15 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 9;
}

.pad16 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 9;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 1;
        -webkit-transform: translate(100px, 50px);
        -ms-transform: translate(100px, 50px);
        transform: translate(100px, 50px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 1;
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 1;
        -webkit-transform: translate(-100px, -50px);
        -ms-transform: translate(-100px, -50px);
        transform: translate(-100px, -50px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.set-distortion {
    grid-column-start: 12;
    grid-column-end: 19;
    grid-row-start: 3;
    grid-row-end: 9;
}

.set-reverb {
    grid-column-start: 12;
    grid-column-end: 19;
    grid-row-start: 5;
    grid-row-end: 11;
}

.set-eqmid{
    grid-column-start: 12;
    grid-column-end: 19;
    grid-row-start: 7;
    grid-row-end: 13;
}

.set-bpm {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 0;
    grid-row-end: 5;
    direction: rtl;
    /* transform: rotate(90deg); */
    transform: rotate(90deg) translateY(107px) translateX(25px);
}

.bpm-label {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 10;
    text-align: center;
    margin-left: -24px;
}

.distortion-label {
    grid-column-start: 12;
    grid-column-end: 17;
    grid-row-start: 2;
    grid-row-end: 10;
}
.reverb-label {
    grid-column-start: 12;
    grid-column-end: 17;
    grid-row-start: 4;
    grid-row-end: 10;
}

.eqmid-label {
    grid-column-start: 12;
    grid-column-end: 17;
    grid-row-start: 6;
    grid-row-end: 10;
}

.bpm-range {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 8;
    grid-row-end: 9;
}

.metronome-play-button {
    grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 8;
grid-row-end: 9;
background-color: red;
transform: translateY(10px) translateX(13px);
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 22px 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    background: #363733;
    border-radius: 0px;
    border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 0px solid rgba(0, 0, 0, 0);
    height: 48px;
    width: 48px;
    border-radius: 0px;
    background: #81c9b8;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -22px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #43443f;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    background: #363733;
    border-radius: 0px;
    border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 0px solid rgba(0, 0, 0, 0);
    height: 48px;
    width: 48px;
    border-radius: 0px;
    background: #81c9b8;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #292a27;
    border: 0px solid #000000;
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}

input[type=range]::-ms-fill-upper {
    background: #363733;
    border: 0px solid #000000;
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 0px solid rgba(0, 0, 0, 0);
    height: 48px;
    width: 48px;
    border-radius: 0px;
    background: #81c9b8;
    cursor: pointer;
    height: 4px;
}

input[type=range]:focus::-ms-fill-lower {
    background: #363733;
}

input[type=range]:focus::-ms-fill-upper {
    background: #43443f;
}

.sampler-pad {
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: line-throughnone;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #3369ff;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;
    z-index: 500;
}

.sampler-pad:active {
    top: 0.1em;
}

@media all and (max-width:30em) {
    .sampler-pad {
        display: block;
        margin: 0.4em auto;
    }
}
