html {
  /* background: url(/css/img/grid.svg) no-repeat center center fixed; */
  display: table;
  margin: auto;
}

body {
  background-color: #81c9b8;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
}

#body-wrapper {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(26, 48px);
  grid-template-rows: repeat(36, 48px);
  /* background: url(/css/img/grid.png); */
  /* grid-column-gap: 1px;
    grid-row-gap: 1px; */
  background-image: url("https://s3.amazonaws.com/spicedling/ti_XjRYzwmxq9xdeHIW0OlzXrG2mkAQX.svg");
  background-repeat: repeat;
  background-size: 48px 48px;
  width: 100.2%;
}

header {
  grid-column-start: 1;
  grid-column-end: 17;
  grid-row-start: 2;
  grid-row-end: 5;
  background-color: #81aabc;
}

.box {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 9;
  background-color: #81aabc;
}

.video-wrapper {
  width: 577px;
  height: 290px;
  position: relative;
  overflow: hidden;
  grid-column-start: 14;
  grid-column-end: 37;
  grid-row-start: 6;
  grid-row-end: 15;
}

.music-player {
  border: 0;
  height: 418px;
  grid-column-start: 9;
  grid-column-end: 15;
  grid-row-start: 9;
  z-index: 3;
}

.video {
  height: 114%;
  width: 102%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.mpc-wrapper {
    grid-column-start:2;
    grid-column-end: 18;
    grid-row-start:3;
    grid-row-end: 27;
    z-index: 3;
}
