.pad{
    box-sizing: border-box;
    width: 21%;
    padding: 4vh 1vw 4vh 1vw;
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    letter-spacing: 0.03em;
    background-color: #8192a4;
    border-radius: 3%;
    display: inline-block;
    cursor: pointer;
    margin: 2%;
    box-sizing: border-box;
    outline: none;
    box-shadow: 2px 2px 7px #131C20;
    font-size: 2rem;
    text-align: center;

}

.pad:hover{
    -webkit-box-shadow: 0px 0px 8px 4px #EF7782 !important;
    -moz-box-shadow: 0px 0px 8px 4px #EF7782 !important;
    box-shadow: 0px 0px 8px 4px #EF7782 !important;
}

.pad-text{
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
